@model UCP1_PAW_112_C.Models.Penjual

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Penjual</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JenisBarang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JenisBarang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsernamePenjual)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsernamePenjual)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdPenjual">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
