@model IEnumerable<UCP1_PAW_112_C.Models.Penjual>

@{
    ViewData["Title"] = "Penjual";
}

<h1>Penjual</h1>

<p>
    <a asp-action="Create">Tambah</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Username Penjual")
            </th>
            <th>
                @Html.DisplayName("Jenis Barang")
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UsernamePenjual)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JenisBarang)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdPenjual"><i class="fa fa-marker fa-lg"></i></a> |
                <a asp-action="Details" asp-route-id="@item.IdPenjual"><i class="fas fa-list"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.IdPenjual"><i class="fa fa-trash-alt fa-lg"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
